
  <div class="row">
    <div class="col-sm-4 grass"></div>
    <div class="col-sm-2 road1">
       <!-- traffic light -->
       <div class="traffic">
          <div class="traffic-light">
            <span style="display: block;" id="green1" class="stop1"></span>
            <span style="display: block;" id="yellow1" class="slow1"></span>
            <span style="display: block;" id="red1" class="go1"></span>
          </div>
        </div>
    </div>
    <div class="col-sm-2 road1"></div>
    <div class="col-sm-4 grass"></div>
  </div>
  <div class="row">
    <div class="col-sm-4 road2"></div>
    <div class="col-sm-4 road2"></div>
    <div class="col-sm-4 road2">
      <!-- traffic light -->
      <div class="traffic2">
          <div class="traffic-light inline">
            <span id="green2" class="opposite-stop"></span>
            <span id="yellow2" class="opposite-slow"></span>
            <span id="red2" class="opposite-go"></span>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 road2"></div>
    <div class="col-sm-4 road2"></div>
    <div class="col-sm-4 road2"></div>
  </div>
  <div class="row">
      <div class="col-sm-4 grass"></div>
      <div class="col-sm-2 road1"></div>
      <div class="col-sm-2 road1"></div>
      <div class="col-sm-4 grass"></div>
  </div>
