<section id="full">
  <div class="row">
    <div class="col-sm-4 grass"></div>
    <div class="col-sm-2 road1 lane2 bottom-border">
      <!-- traffic light -->
      <div class="traffic">
        <div class="traffic-light">         
          <span id="red1" class="go1"></span>
          <span id="yellow1" class="slow1"></span>
          <span id="green1" class="stop1"></span>
        </div>
      </div>
    </div>
    <div class="col-sm-2 road1 bottom-border"></div>
    <div class="col-sm-4 grass"></div>
  </div>
  <div class="row">
    <div class="col-sm-4 road2 lane1 lane-right"></div>
    <div class="col-sm-4 road2"></div>
    <div class="col-sm-4 road2 lane1 lane-left">
      <!-- traffic light -->
      <div class="traffic2">
        <div class="traffic-light inline">        
          <span id="red2" class="opposite-go"></span>
          <span id="yellow2" class="opposite-slow"></span>
          <span id="green2" class="opposite-stop"></span>        
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 road2 lane-right"></div>
    <div class="col-sm-4 road2"></div>
    <div class="col-sm-4 road2 lane-left"></div>
  </div>
  <div class="row">
    <div class="col-sm-4 grass"></div>
    <div class="col-sm-2 road1 lane2 lane-top"></div>
    <div class="col-sm-2 road1 lane-top"></div>
    <div class="col-sm-4 grass"></div>
  </div>
</section>
